@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
    /* hex value of rgb(254,254,91) color is  #FEFE5B  */
  }
}